/* MainSection.css */

.container {
    display: flex;
}

.card {
    margin-bottom: 20px; /* Distanza tra le card */
}

.comment-section {
    background-color: #f8f9fa; /* Colore di sfondo per la sezione dei commenti */
    padding: 20px; /* Padding per la sezione dei commenti */
    border-left: 1px solid #ccc; /* Aggiungi un bordo per separare le colonne */
    height: 100%; /* Assicurati che la sezione commenti riempia l'altezza */
}
